.footer {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;
    background-color: #1661b1;
    color: white;
    text-align: center;
}

.footer-icon {
    width: 6vw;
    height: 6vw;
}

.footer-icon path{
    fill: #dfe6e9;
}