@media screen and (max-width: 768px){
  
  .start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
  }

  .shoe-image {
    max-width: 80%;
    height: auto;
    margin-top: 30vh;
    z-index: 1;
  }
  
  .text-behind {
    background: linear-gradient(45deg, #3498db, #6c5b7b);
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    font-size: 16vw;
    font-family: 'Rubik Glitch', sans-serif;
    z-index: 0;
    margin-top: 40vh;
  }
  
  .text-behind-2 {
    background: linear-gradient(45deg, #3498db, #6c5b7b);
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    font-size: 16vw;
    font-family: 'Rubik Glitch', sans-serif;
    margin-top: 20px;
    z-index: 0;
    margin-top: 45vh;
  }
  
  .bottom-button {
    width: fit-content;
    margin-bottom: 50px;
    background: linear-gradient(45deg, #3498db, #6c5b7b);
    padding: 4vw 4vh; 
    border-radius: 10px; 
    color: #fff; 
    text-align: center; 
    text-decoration: none; 
    border: none;
  }

  .bottom-button a {
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
}