/* Add your ShoeCard class styling here */
.container {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 30%;
    height: 320px;
    background: #F5F5F5;
    box-shadow: 5px 5px 15px rgba(186, 126, 126, 0.5);
    border-radius: 10px;
  }
  
  .images img {
    width: 290px;
    margin-top: 17px;
  }
  
  .pick {
    margin-top: 11px;
    margin-bottom: 0;
    margin-left: 20px;
  }

  .shoe-list .container {
  margin-bottom: 20px; /* Adjust the margin as needed */
}
  
  .product {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 10%;
    left: 60%;
  }
  
  .product p {
    font-size: 0.6em;
    color: #4E4E4E;
    letter-spacing: 1px;
  }
  
  .product h1 {
    font-size: 1.2em;
    color: #a1a0c3;
    margin-top: -5px;
  }
  
  .product h2 {
    color: #aaadd9;
    margin-top: -5px;
  }
  
  .buttons {
    display: flex;
  }
  
  button {
    background: rgb(57, 42, 112);
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #F5F5F5;
    cursor: pointer;
  }
  
  button:hover {
    background: #646596;
    transition: all 0.4s ease-in-out;
  }
  
  .add {
    width: 67%;
  }
  
  .like {
    width: 22%;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 10px;
  }
  
  footer p {
    letter-spacing: 3px;
  }
  
  footer a {
    color: #ffffff;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #7d7d7d;
  }
  